// Primary
$darkblue-1: hsl(217, 28%, 15%); //intro and email sign up background #1C2431
$darkblue-2: hsl(218, 28%, 13%); // main background #181F2A
$darkblue-3: hsl(216, 53%, 9%); // footer background
$darkblue-4: hsl(219, 30%, 18%); // testimonials background

// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
