@use "../../containers/App.scss" as *;
.nav {
  &__wrapper {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: stretch;
  }

  &__search {
    position: relative;
    .md.hydrated {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      width: 15px;
      height: 15px;
      color: var(--input);
    }

    &-input {
      &::placeholder {
        color: var(--input);
      }
    }
  }
  &__filter {
    position: relative;
    .md.hydrated {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 50%;
    }
  }
  // input, select
  input[type="search"],
  select {
    height: 50px;

    border-radius: $border-radius;
    color: var(--text);
    font-weight: 600;
    background-color: var(--elements);
    box-shadow: var(--hover);
    appearance: none;
    -webkit-appearance: none;
  }
  input[type="search"] {
    width: 100%;
    padding: 15px 15px 15px 75px;
  }
  select {
    width: 55%;
    padding: 15px 15px 15px 30px;
  }
}

@media (min-width: 1200px) {
  .nav {
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__filter {
      .md.hydrated {
        right: 10%;
      }
    }
    input[type="search"] {
      width: 480px;
    }
    select {
      width: 200px;
    }
  }
}
