@use "../../containers/App.scss" as *;
header {
  position: sticky;
  top: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 80px;
  width: 100%;
  background-color: var(--elements);
  box-shadow: 0px 5px 50px var(--shadow);
  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &-headline {
    h1 {
      font-size: 1.4rem;
    }
  }
}
.theme {
  &__toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text);
    font-size: 1rem;
    &.light {
      ion-icon[name="moon-outline"] {
        display: none;
      }
      ion-icon[name="moon"] {
        display: block;
      }
    }
    &.dark {
      ion-icon[name="moon-outline"] {
        display: block;
      }
      ion-icon[name="moon"] {
        display: none;
      }
    }
  }
  &__icon {
    color: inherit;
    font-size: inherit;
  }
  &-name {
    color: inherit;
    font-size: inherit;
  }
}
